<div>

  <div class="card text-center">
    <div class="card-header">
      {{aluno.nome}}
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Data de nasimento: {{aluno.nascimento}}</li>
      <li class="list-group-item">Serie: {{aluno.serie}} </li>
      <li class="list-group-item">Endereço: {{aluno.rua}}, {{aluno.numero}}, {{aluno.complemento}}, {{aluno.bairro}}
                                            {{aluno.cidade}};{{aluno.estado}}
      </li>
      <li class="list-group-item">Mãe: {{aluno.nome_mae}} </li>
      <li class="list-group-item">CPF da mãe: {{aluno.cpf_mae}} </li>
      <li class="list-group-item">Vencimento: {{aluno.data_mensalidade}}</li>
    </ul>
  </div>


</div>


